[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = hashirshoaeb
	email = hashirshoaeb@gmail.com
[core]
	editor = code --wait
	autocrlf = input
	filemode = false
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
